@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.logo {
    display: flex;
    align-items: center;
    color: #222222;
    font-size: 27px;
    font-weight: 300;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 32px;
    text-align: center;
    padding-top: 5px;
    margin: -4px -2px -2px -1px;
}

.logo-d {
    color: #f16d7f;
    font-weight: 900;
    margin: 0 3px 0 2px;
}

.logo-image {
    margin-top: -5px;
    margin-right: 12px;
}

.header {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.17);
    border: 1px solid #ececec;
    background-color: #ffffff;
}

.header .header-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 98px;
}

.header .header-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .header-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -14px;
    margin-right: -2px;
}

.header .button {
    height: 39px;
    font-size: 15px;
    margin: 0 19px 0 18px;
    line-height: 39px;
}

.header .button .my-acc-sym {
    margin-right: -3px;
}

.button {
    background-color: #f16d7f;
    color: #ffffff;
    font-weight: 700;
    padding-left: 19px;
    padding-right: 19px;
    text-align: center;
    transition: 0.3s;
}

.button:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.button:active {
    background-color: #fff;
    color: #f16d7f;
}

.form {
    display: flex;
    align-items: center;
    margin-left: 37px;
}

.form .button-browse {
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    border-style: solid;
    border-width: 1px;
    border-color: #e6e6e6;
    box-sizing: border-box;
    width: 87px;
    height: 38px;
    background: linear-gradient(180deg, #f9f9f9 0%, #f5f5f5 100%);
    transition: 0.3s;
    padding-top: 1.8px;
    padding-left: 13px;
}

.form .button-browse:hover .drop-down {
    display: flex;
}

.navigation {
    background-color: #ffffff;
}

.menu {
    display: flex;
    list-style-type: none;
    justify-content: center;
    text-transform: uppercase;
}

.menu-link {
    margin: -4px 20.7px 0 2px;
    padding: 15px 0 15px 23px;
    display: block;
    color: #222222;
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;
}

.menu-link:hover {
    padding-bottom: 12px;
    border-bottom: solid 3px #ef5b70;
}

body {
    font-family: "Lato", sans-serif;
}

a {
    text-decoration: none;
}

.pink {
    color: #f16d7f;
}

.promo {
    background-color: #e8e8e8;
}

.promo-content {
    height: 613px;
    background-image: url(../img/promo-back.jpg);
    background-position: -228px -53px;
    display: flex;
    align-items: center;
}

.promo-text {
    margin: -75px 0 0 2px;
    height: 90px;
}

.promo-p {
    color: #222222;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 33px;
    letter-spacing: 1.3px;
}

.promo-h3 {
    color: #222222;
    font-size: 60px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 45px;
    margin: -2px 0 17px 0;
    letter-spacing: 1.79px;
}

.promo-text {
    border-left: 12px solid #f16d7f;
    padding-left: 12px;
}

.cart {
    width: 32px;
    height: 29px;
    background-image: url(../img/cart.svg);
    transition: 0.3s;
}

.cart:hover {
    background-image: url(../img/cart-hover.svg);
    cursor: pointer;
}

.user-text-find {
    color: #a4a4a4;
    font-size: 14px;
    font-weight: 300;
    line-height: 32px;
    width: 280px;
    height: 38px;
    padding-right: 15px;
    padding-left: 14px;
    box-sizing: border-box;
    background-color: #ffffff;
    border: 1px solid #e6e6e6;
    border-right-width: 0;
    border-left-width: 0;
    letter-spacing: -0.3px;
    word-spacing: 1.8px;
}

.user-text-find:focus {
    color: #000;
}

.button-find {
    color: #a4a4a4;
    font-family: FontAwesome, serif;
    width: 35px;
    height: 38px;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    border: 1px solid #e6e6e6;
    background-color: #ffffff;
    transition: 0.3s;
    margin-left: -1px;
}

.button-find:hover {
    cursor: pointer;
    color: #f16d7f;
}

.browse-list {
    margin-left: 5px;
    vertical-align: 2px;
    font-family: FontAwesome, serif;
}

.categories-box {
    display: flex;
    flex-direction: row;
    margin-top: 98px;
}

.category {
    background-color: #dadad2;
    margin-bottom: 20px;
    margin-right: 20px;
}

.category-accesories {
    width: 560px;
    height: 261px;
    background: url(../img/categories/accesories.jpg);
}

.category-men {
    width: 560px;
    height: 542px;
    background-image: url(../img/categories/men.jpg);
}

.category-women {
    width: 560px;
    height: 261px;
    background-image: url(../img/categories/women.jpg);
}

.category-kids {
    width: 560px;
    height: 542px;
    background-image: url(../img/categories/kids.jpg);
}

/*.product-1 {*/
/*    background-image: url(../img/products/product-1.jpg);*/
/*}*/

/*.product-2 {*/
/*    background-image: url(../img/products/product-2.jpg);*/
/*}*/

/*.product-3 {*/
/*    background-image: url(../img/products/product-3.jpg);*/
/*}*/

/*.product-4 {*/
/*    background-image: url(../img/products/product-4.jpg);*/
/*}*/

.product {
    width: 263px;
    margin-bottom: 39px;
    position: relative;
}

.product-add {
    transition-delay: 0.1s;
}

.product:hover .product-add {
    display: flex;
}

.product-add:hover {
    box-shadow: 0 0 5px #fff;
    cursor: pointer;
}

.product-box-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 261px;
    transition: 0.5s;
    background-color: #fff;
}

.product-img {
    height: 280px;
}

.product-like .product-img {
    height: 100%;
}

.product:hover .product-box-img {
    filter: brightness(0.6);
}

.product:hover {
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
    background-color: #fff;
}

.product-with-text {
    width: 263px;
    height: 364px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 40px;
}

.product-with-text:hover {
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.16);
}

.product-name {
    display: block;
    color: #222222;
    font-size: 13px;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.product-price {
    color: #f16d7f;
    font-size: 16px;
    font-weight: 700;
}

.add-to-cart {
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: solid;
    border-width: 1px;
    border-color: #ffffff;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0);
    width: 123px;
    height: 39px;
}

.text-add-to-cart {
    color: #ffffff;
    font-size: 13px;
    font-weight: 700;
}

.cart-add {
    margin-right: 5px;
}

.title-h3 {
    color: #222222;
    font-size: 30px;
    font-weight: 700;
}

.title-p {
    color: #9f9f9f;
    font-size: 14px;
    font-weight: 400;
    line-height: 54px;
}

.category-p {
    color: #222222;
    font-size: 18px;
    font-weight: 900;
}

.category-h3 {
    color: #f16d7f;
    font-size: 30px;
    font-weight: 900;
}

.category-text {
    display: inline-block;
    margin-top: 42px;
    padding: 18px;
    background-color: #fff;
}

.browse-all {
    display: flex;
    justify-content: center;
}

.feature-box {
    display: flex;
    margin-top: 113px;
    height: 529px;
    background-color: #222224;
    margin-bottom: 97px;
}

.feature-slider {
    width: 767px;
    height: 529px;
    z-index: 100;
    position: relative;
    background-image: url(../img/features/feature-slider.jpg);
}

.feature-slider-back {
    background-image: url(../img/features/feature-slider-back.png);
    width: 767px;
    height: 529px;
    z-index: 50;
    margin-left: -767px;
    display: flex;
    flex-direction: column;
}

.feature-slider-text {
    display: inline-block;
    margin-left: 39px;
    margin-top: 126px;
}

.feature-slider-h3 {
    color: #ffffff;
    font-size: 53.62px;
    font-weight: 700;
}

.feature-slider-p {
    color: #ffffff;
    font-size: 32.17px;
    font-weight: 700;
}

.feature-text-h3 {
    color: #fbfbfb;
    font-size: 20px;
    font-weight: 700;
}

.feature-text-h3:hover {
    color: #f16d7f;
}

.feature-text-p {
    color: #fbfbfb;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    margin-top: 15px;
}

.feature-text-icon-truck {
    width: 45px;
    height: 32px;
    background-image: url(../img/features/truck.png);
}

.feature-text-icon-truck:hover {
    width: 45px;
    height: 32px;
    background-image: url(../img/features/truck-hover.png);
}

.feature-text-icon-discount {
    width: 40px;
    height: 40px;
    background-image: url(../img/features/discount.png);
}

.feature-text-icon-discount:hover {
    width: 40px;
    height: 40px;
    background-image: url(../img/features/discount-hover.png);
}

.feature-text-icon-croun {
    width: 47px;
    height: 35px;
    background-image: url(../img/features/croun.png);
}

.feature-text-icon-croun:hover {
    width: 47px;
    height: 35px;
    background-image: url(../img/features/croun-hover.png);
}

.feature-icons {
    width: 110px;
    height: 338px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.icons-with-texts {
    display: flex;
    flex-direction: row;
    margin-top: 48px;
}

.feature-texts {
    width: 220px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 420px;
}

.vertical {
    width: 10px;
    height: 100%;
    background-color: #fff;
}

.subscribe-container {
    margin: 0 auto;
    width: 1609px;
    height: 100px;
    background-image: url(../img/subscribe-slider.jpg);
}

.feedback-block {
    width: 50%;
    height: 100%;
    border-right: 1px solid #fff;
}

.user-feedback-quote {
    color: rgba(34, 34, 36, 0.67);
    font-size: 16px;
    font-style: italic;
    line-height: 26px;
    width: 386px;
    margin-bottom: 19px;
}

.feedback-text {
    display: inline-block;
    width: 386px;
    text-align: justify;
    margin-left: 28px;
}

.user-quote-p {
    color: #222224;
    font-size: 12px;
    font-weight: 300;
    line-height: 14px;
}

.user-quote-h3 {
    color: #f16d7f;
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
}

.feedback-with-avatar {
    width: 800px;
    margin-top: 111px;
}

.email-for-subscribe {
    color: rgba(34, 34, 36, 0.67);
    font-size: 14px;
    font-weight: 400;
    line-height: 54px;
    background-color: #e1e1e1;
    width: 282px;
    height: 46px;
    padding-left: 15px;
    padding-right: 15px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    border-width: 0;
}

.email-for-subscribe:focus {
    color: #000;
}

.button-for-subscribe {
    background-color: #f16d7f;
    width: 104px;
    height: 46px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    border-width: 0;
    margin-left: -3px;
    transition: 0.3s;
}

.button-for-subscribe:hover {
    background-color: #fff;
    color: #f16d7f;
}

.subscribe-block-image {
    width: 1600px;
    height: 438px;
    background-color: #f2f2f2;
}

.nav-block {
    width: 38px;
    height: 4px;
}

.nav-edge {
    background-color: #d6d6d6;
    transition: background-color 0.5s linear;
}

.nav-edge:hover {
    background-color: #f16d7f;
}

.nav-center {
    background-color: #f16d7f;
}

.feedback-nav {
    display: flex;
    justify-content: space-between;
    width: 140px;
}

.product-box {
    padding-top: 50px;
    padding-bottom: 50px;
}

.product-box .product-box-name-h3 {
    color: #222222;
    font-size: 30px;
    font-weight: 700;
}

.product-box .product-box-name-h3:hover {
    color: #f16d7f;
}

.product-box .product-box-name-p {
    color: #9f9f9f;
    font-size: 14px;
    font-weight: 400;
    line-height: 54px;
}

.product-box .product-box-name {
    display: flex;
    text-align: center;
    flex-direction: column;
    margin-bottom: 90px;
}

.product-text {
    padding: 20px 15px;
}

.product-add {
    color: #ffffff;
    font-size: 13px;
    font-weight: 700;
    width: 123px;
    height: 39px;
    border: 1px solid #ffffff;
    position: absolute;
    top: 94px;
    left: 70px;
    display: none;
    justify-content: center;
    align-items: center;
}

.product-flex {
    /*display: flex;*/
    /*justify-content: space-between;*/
    /*flex-wrap: wrap;*/
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.feature-article {
    display: flex;
    justify-content: space-around;
}

.feature-block-text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 373px;
}

.feature-article-img {
    width: 110px;
    display: flex;
    justify-content: center;
}

.feature-text {
    display: block;
    width: 230px;
}

.feature-text-block {
    display: block;
    width: 273px;
    margin-right: 30px;
}

.feature-articles {
    width: 373px;
    background-color: #222224;
}

.subscribe {
    background-color: #e8e8e8;
    height: 438px;
}

.subscribe-slider-img {
    height: 438px;
    width: 1600px;
    background-image: url(../img/subscribe-slider.jpg);
    display: flex;
}

.feedback-user-img {
    width: 83px;
    height: 83px;
}

.user-quote {
    margin-bottom: 41px;
}

.subscribe-caption {
    color: #222224;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 35px;
}

.feedback-center-subscribe {
    width: 92px;
    height: 100px;
}

.subscribe-h3 {
    font-size: 24px;
    letter-spacing: 0.6px;
    line-height: 44px;
    text-transform: uppercase;
}

.subscribe-p {
    letter-spacing: 0.35px;
    line-height: 24px;
}

.subscribe-form {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.footer {
    margin: 0 auto;
    background-color: #e6e6e6;
}

.desciption {
    height: 458px;
}

.container-main {
    width: 1600px;
    margin: 0 auto;
    height: 458px;
}

.copyright-block {
    height: 79px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.social-network {
    font-family: FontAwesome, serif;
    display: flex;
    justify-content: space-between;
    width: 191px;
}

.copyright-text {
    width: 260px;
    height: 14px;
    color: #7a7a7a;
    font-size: 16px;
    font-weight: 400;
    line-height: 42px;
    letter-spacing: 0.4px;
}

.symbol-net {
    width: 32px;
    height: 32px;
    letter-spacing: 0.4px;
    display: flex;
    justify-content: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    background-color: #fff;
    color: #b2b2b2;
    transition: background-color 0.3s linear;
}

.symbol-net:hover {
    background-color: #f16d7f;
    color: #f7f7f8;
}

.symbol-g {
    width: 21px;
    height: 14px;
}

.symbol-p {
    width: 12px;
    height: 15px;
}

.symbol-en {
    width: 14px;
    height: 14px;
}

.symbol-tw {
    width: 15px;
    height: 13px;
}

.symbol-f {
    width: 9px;
    height: 16px;
}

.symbol-net-brocken {
    width: 32px;
    height: 32px;
    letter-spacing: 0.4px;
    display: flex;
    justify-content: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    background-color: #ccc;
    color: #b2b2b2;
}

.description {
    width: 428px;
    height: 260px;
}

.description-text {
    overflow: hidden;
    width: 427px;
    height: 174px;
    color: #898989;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0.35px;
    margin-top: 29px;
}

.decription-link {
    position: absolute;
    margin-top: 109px;
    display: flex;
}

.link-group {
    list-style: none;
    height: 179px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.link-box {
    display: flex;
    width: 608px;
    justify-content: space-between;
    margin-left: 64px;
}

.link-group-caption {
    width: 154px;
    height: 14px;
    color: #f16d7f;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    letter-spacing: 0.45px;
    margin-top: 5px;
    transition: color 0.2s linear;
}

.link-group-caption:hover {
    color: #898989;
}

.links {
    height: 179px;
    color: #898989;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.4px;
    transition: color 0.2s linear;
}

.links:hover {
    color: #f16d7f;
}

.link-category {
    display: flex;
    flex-direction: column;
    height: 238px;
    justify-content: space-between;
}

.breadcrumb {
    background-color: #f8f3f4;
}

.breadcrumb-content {
    height: 148px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.breadcrumb-menu {
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    display: flex;
}

.breadcrumb-menu-active {
    font-weight: 700;
    color: #f16d7f;
    transition: color 0.2s linear;
}

.breadcrumb-menu-active:hover {
    color: #636363;
}

.breadcrumb-menu-passive {
    color: #636363;
    transition: color 0.2s linear;
}

.breadcrumb-menu-passive:hover {
    color: #f16d7f;
}

/*    content: "close" */
/* $media screen and (min-width: 1200px)   */
.subscribe-slider-img {
    background-image: none;
}

.menu-category-caption {
    margin-bottom: 22px;
    color: #ef5b70;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
}

.menu-category-list {
    color: #6f6e6e;
    font-size: 14px;
    font-weight: 400;
    display: block;
    margin-bottom: 19px;
    transition: color 0.3s linear;
}

.menu-category-list:hover {
    color: #ef5b70;
}

.sample-details {
    display: flex;
    justify-content: space-between;
}

.sort {
    width: 100%;
    height: 50px;
    background-color: #950;
}

.sample-detail-block {
    width: 176px;
    border: none;
}

.trend-now-menu {
    list-style: none;
    display: inline-flex;
    color: #dfdfdf;
}

.trend-now-item {
    margin-left: 5px;
    margin-right: 5px;
    color: #6f6e6e;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
}

.trend-now-item:hover {
    color: #f16d7f;
}

.sample-detail-caption {
    width: 111px;
    height: 10px;
    color: #6f6e6e;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
}

.sample-detail-caption:hover {
    cursor: auto;
}

/*color:$colorPrime     */
.size-choice {
    color: #6f6e6e;
    font-family: "Open Sans", serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
    list-style: none;
    display: flex;
}

.sample-detail {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.button-center {
    line-height: 56px;
    margin-top: 20px;
    font-size: 16px;
    height: 56px;
    transition: 0.3s;
}

.price-limits {
    color: #6f6e6e;
    font-family: "Open Sans", serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.price-range-block {
    margin-top: 15px;
    width: 100%;
}

.size-choice-item {
    width: 69px;
}

.image-slider-content {
    height: 777px;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
}

.image-slider {
    width: 597px;
    height: 680px;
    margin-top: 7px;
}

.drop {
    border-radius: 5px;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ececec;
    display: none;
    position: absolute;
    top: 42px;
    left: -4px;
}

.drop:after {
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    background-color: #fff;
    position: absolute;
    left: 30px;
    top: -6px;
    transform: rotate(45deg);
    border-top: 1px solid #e8e8e8;
    border-left: 1px solid #e8e8e8;
}

.drop-link {
    color: #646464;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.35px;
    line-height: 28px;
    text-transform: none;
}

.drop-link:hover {
    color: #f16d7f;
}

.drop-ul {
    list-style-type: none;
    margin-top: 0;
}

.drop-h3 {
    color: #232323;
    font-size: 14px;
    font-weight: 400;
    line-height: 32px;
    text-transform: uppercase;
    letter-spacing: 0.35px;
    border-bottom: 1px solid #e8e8e8;
    padding-bottom: 8px;
    margin-bottom: 8px;
    margin-top: 0;
}

.drop-flex {
    width: 235px;
    margin-right: 45px;
}

.drop-flex:last-of-type {
    margin-right: 0;
}

.menu-list {
    position: relative;
}

.menu-list:hover .drop {
    display: flex;
}

.menu-list:hover .drop-last {
    display: flex;
}

.slow-drop {
    list-style: none;
    display: inline-block;
    position: relative;
}

.slow-drop-ul {
    position: absolute;
    list-style: none;
    text-align: center;
    top: 42px;
    left: -1px;
    border-radius: 5px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s linear;
}

.slow-drop-ul__link {
    padding: 5px 12px;
    color: #646464;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.35px;
    line-height: 28px;
    text-transform: none;
    display: block;
    width: 102px;
}

.slow-drop-ul__list {
    background-color: #fff;
}

.slow-drop-ul__link:hover {
    color: #f16d7f;
}

.slow-drop-ul__list:first-child {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    position: relative;
}

.slow-drop-ul__list:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.slow-drop:hover:before {
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    background-color: #fff;
    position: absolute;
    left: 30px;
    top: 37px;
    transform: rotate(45deg);
    border-top: 1px solid #e8e8e8;
    border-left: 1px solid #e8e8e8;
    z-index: 100;
}

.slow-drop:hover ul {
    max-height: 300px;
    border: 1px solid #e8e8e8;
}

.drop-last {
    border-radius: 5px;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ececec;
    display: none;
    position: absolute;
    top: 42px;
    left: -565px;
}

.drop-last:after {
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    background-color: #fff;
    position: absolute;
    left: 589px;
    top: -6px;
    transform: rotate(45deg);
    border-top: 1px solid #e8e8e8;
    border-left: 1px solid #e8e8e8;
}

.super-sale-link {
    width: 255px;
    height: 118px;
    margin-left: -17px;
    background-image: url(../img/image-super-sale.png);
}

.super-sale-link:hover {
    outline: 2px solid #ef5b70;
}

.drop-down {
    border-radius: 5px;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ececec;
    display: none;
    position: absolute;
    z-index: 100;
}

.drop-down:after {
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    background-color: #fff;
    position: absolute;
    left: 49px;
    top: -6px;
    transform: rotate(45deg);
    border-top: 1px solid #e8e8e8;
    border-left: 1px solid #e8e8e8;
}

.drop-down-flex {
    width: 235px;
    margin-right: 45px;
}

.drop-down-h3 {
    color: #232323;
}

.down-color-h3 {
    color: #232323;
}

.down-color {
    color: #4f4f4f;
}

.drop-cart {
    border-radius: 5px;
    padding: 20px;
    border: 1px solid #ececec;
    position: absolute;
    top: 70px;
    width: 225px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    z-index: 100;
}

.drop-cart:after {
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    background-color: #fff;
    position: absolute;
    left: 12px;
    top: -6px;
    transform: rotate(45deg);
    border-top: 1px solid #e8e8e8;
    border-left: 1px solid #e8e8e8;
}

.drop-cart-flex {
    display: flex;
}

.cart-product {
    display: flex;
    justify-content: space-between;
    padding-bottom: 16px;
    margin-bottom: 17px;
    width: 229px;
    border-bottom: 1px solid #ededed;
}

.cart-box-delete {
    color: #c0c0c0;
    font-family: "Font Awesome", serif;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    display: flex;
    align-items: center;
}

.cart-box-delete:hover {
    color: #f16d7f;
    cursor: pointer;
}

.cart-product-img {
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-product-img:hover {
    outline: 1px solid #f16d7f;
    cursor: pointer;
}

.cart-box-stars {
    color: #e4af48;
    font-family: "Font Awesome", serif;
    font-size: 12px;
    font-weight: 400;
}

.cart-box-stars:hover {
    color: #000;
}

.cart-pos-text {
    line-height: 22px;
    text-transform: uppercase;
    margin-left: 14px;
}

.cart-box-pos {
    color: #f16d7f;
    font-weight: 400;
    font-size: 12px;
    word-spacing: 6px;
}

.cart-product-1 {
    width: 72px;
    height: 85px;
    /*background-image: url(../img/cart-box/cart-product-1.png);*/
}

.cart-box-pos-x {
    font-size: 10px;
}

.cart-product-2 {
    width: 72px;
    height: 85px;
    /*background-image: url(../img/cart-box/cart-product-2.png);*/
}

.cart-product-decript {
    display: flex;
}

.cart-block {
    width: 42px;
    height: 39px;
    margin-top: 30px;
    margin-right: 16px;
    position: relative;
}


.cart-product-name {
    color: #222222;
    font-size: 12px;
    font-weight: 700;
}

.cart-product-name:hover {
    color: #f16d7f;
}

.cart-total {
    display: flex;
    justify-content: space-between;
    margin-bottom: 31px;
    color: #222222;
    font-size: 16px;
    font-weight: 700;
}

.cart-button:hover {
    color: #f16d7f;
    border: 1px solid #f16d7f;
}

.cart-button {
    text-align: center;
    width: 100%;
    border: 1px solid #000;
    color: #4a4a4a;
    margin: 0 auto;
    font-size: 14px;
    font-weight: 800;
    text-transform: uppercase;
    padding-top: 19px;
    padding-bottom: 19px;
    transition: 0.3s;
}

.cart-button-block {
    margin-top: 11px;
    display: flex;
}

.button-browse-link {
    color: #222222;
    font-size: 14px;
    font-weight: 400;
    line-height: 32px;
}

.subscribe-block {
    width: 50%;
    margin-top: 148px;
    margin-left: 93px;
    display: flex;
}

.feedback {
    margin-top: 121px;
    margin-left: 231px;
    display: flex;
}

.breadcrumb-left {
    color: #f16d7f;
    font-size: 24px;
    font-weight: 600;
    line-height: 20px;
    text-transform: uppercase;
}

.breadcrumb-left:hover {
    color: #636363;
}

.product-content {
    height: 730px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #eaeaea;
    margin-top: -86px;
}

.dark {
    color: #2f2f2f;
}

.caption-underline {
    width: 43%;
    height: 3px;
    background-color: #ef5b70;
    margin-left: 28.5%;
    display: none;
    margin-top: 13px;
}

.product-description-detail {
    color: #b9b9b9;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
}

.product-description-caption {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 72px;
    margin-bottom: 67px;
}

.product-description-caption-p {
    color: #f16d7f;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    padding-bottom: 16px;
    margin-bottom: 17px;
}

.product-description-caption-p:hover {
    padding-bottom: 0;
}

.product-description-caption-p:hover .caption-underline {
    display: flex;
}

.product-description-caption-h3 {
    color: #4d4d4d;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    text-transform: uppercase;
}

.product-description-caption-text {
    color: #5e5e5e;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    text-align: justify;
    margin-bottom: 28px;
    word-spacing: -1px;
}

.product-description-price {
    color: #ef5b70;
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
}

.product-description-details {
    margin-bottom: 37px;
    color: #b9b9b9;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    width: 54%;
    display: flex;
    justify-content: space-between;
}

.text-center {
    text-align: center;
}

.product-select {
    width: 538px;
}

.product-selector-label {
    color: #2f2f2f;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
}

.product-selector-text {
    color: #bcbcbc;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
    width: 144px;
    display: flex;
    justify-content: space-between;
    padding: 13px;
    margin-top: 16px;
    border: 1px solid #eaeaea;
}

.red {
    color: red;
}

.yellow {
    color: yellow;
}

.blue {
    color: blue;
}

.green {
    color: green;
}

.brown {
    color: brown;
}

.product-choose {
    width: 538px;
    margin-top: 63px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 28px;
}

.choose-size {
    width: 172px;
    height: 51px;
    font-size: 13px;
    text-transform: uppercase;
}

.choose-quantity {
    width: 144px;
    height: 24px;
    font-size: 14px;
}

.button-add {
    color: #ef5b70;
    font-size: 16px;
    font-weight: 700;
    width: 100%;
    height: 55px;
    border: 1px solid #ef5b70;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}

.cart-img {
    width: 32px;
    height: 29px;
    background-image: url(../img/cart-hover.svg);
    margin-right: 15px;
    transition: 0.3s;
}

.button-add:hover .cart-img {
    background-image: url(../img/cart.svg);
}

.button-add:hover {
    color: #2f2f2f;
    border: 1px solid #2f2f2f;
    cursor: pointer;
}

.product-description {
    width: 642px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-selector {
    color: #bcbcbc;
    font-weight: 400;
    line-height: 24px;
    display: flex;
    justify-content: space-between;
    padding: 13px 9px;
    border: 1px solid #eaeaea;
    margin-top: 16px;
}

.product-selector:focus {
    color: #000;
}

.choose-color {
    width: 172px;
    height: 51px;
}

.also-content {
    height: 645px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.also-content-caption {
    color: #4d4d4d;
    font-size: 24px;
    font-weight: 600;
    line-height: 20px;
    text-transform: uppercase;
    margin-top: 119px;
    margin-bottom: 72px;
}

.also-content-caption:hover {
    color: #ef5b70;
}

.product-like-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.product-like {
    width: 263px;
    margin-bottom: 39px;
    position: relative;
    transition: 0.3s;
}

.product-like:hover {
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
    background-color: #fff;
}

.product-like:hover .product-add {
    display: flex;
}

.product-like-bg {
    width: 261px;
    height: 280px;
    display: flex;
    justify-content: center;
    background-color: #e9e9e9;
    transition: 0.5s;
}

.product-like:hover .product-like-bg {
    filter: brightness(0.6);
}

.fill-form {
    margin-top: 56px;
    margin-bottom: 93px;
}

.shipping-address-caption {
    color: #222222;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}

.shipping-address-caption:hover {
    color: #f16d7f;
    cursor: pointer;
}

.shipping-address-list {
    list-style-type: none;
}

.shipping-address-list:before {
    content: "» ";
}

.shipping-address {
    color: #b3b2b2;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    display: flex;
    justify-content: space-between;
}

.shipping-address .form-button {
    width: 180px;
    height: 50px;
    margin-top: 16px;
    font-size: 14px;
}

.checkOutAs {
    margin-top: 33px;
    margin-bottom: 33px;
}

.form-button {
    color: #4a4a4a;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #fff;
    border: 1px solid #eaeaea;
}

.form-button:hover {
    color: #f16d7f;
    border: 1px solid #f16d7f;
    cursor: pointer;
}

.shipping-address-link {
    color: inherit;
}

.shipping-address-link:hover {
    color: #f16d7f;
}

.shipping-address-field {
    width: 390px;
    height: 45px;
    font-size: 18px;
    color: #222222;
    padding-left: 10px;
}

.shipping-address-field:focus {
    color: #000;
}

.shipping-address-h3 {
    color: #222222;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.form-text {
    color: #222222;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin-left: 28px;
}

.form-text:hover {
    color: #f16d7f;
}

.shipping-details .shipping-caption::-webkit-details-marker {
    display: none;
}

.shipping-caption {
    margin-bottom: 39px;
}

.shipping-details .shipping-caption:before {
    content: "";
}

.shipping-details[open] .shipping-caption:after {
    content: "";
}

.checkOutAs-item {
    color: #222222;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
}

.shipping-details {
    border-bottom: 1px solid #e8e8e8;
    margin-bottom: 33px;
}

.shipping-address-lists {
    margin-top: 32px;
    margin-bottom: 32px;
}

.shipping-address-p {
    margin-bottom: 16px;
}

.shipping-address-label {
    margin-bottom: 25px;
}

.shipping-address-input {
    margin-bottom: 23px;
}

.shipping-content {
    margin-right: 166px;
    margin-bottom: 79px;
    margin-left: 35px;
}

.checkOutAs-item-list {
    margin-right: 14px;
}

.shipping-address-right {
    margin-right: -10px;
}

.content-left {
    width: 243px;
}

.content-right {
    width: 846px;
    margin-bottom: 110px;
}

.container_justify {
    display: flex;
    justify-content: space-between;
    margin-top: 59px;
}

#details-brand[open] #details-category {
}

.category-content__caption {
    display: flex;
    justify-content: space-between;
    height: 37px;
    border-left: 5px solid #ef5b70;
    padding-left: 16px;
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 1px;
}

.category-content__caption:after {
    content: "";
    font-family: FontAwesome, serif;
    margin-right: 8px;
}

.category-content[open] .category-content__caption:after {
    content: "";
}

.category-content .category-content::-webkit-details-marker {
    display: none;
}

.category-content__caption_style:hover {
    color: #6f6e6e;
    border-left: 5px solid #6f6e6e;
    cursor: pointer;
}

.category-content__item {
    margin-top: 23px;
    margin-left: 25px;
    margin-bottom: 20px;
}

.category-content__link {
    color: #6f6e6e;
    font-size: 14px;
    font-weight: 400;
    line-height: 33px;
}

.category-content__link:hover {
    color: #ef5b70;
}

.category-content__caption_style {
    color: #ef5b70;
    line-height: 37px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}

.sorting {
    display: flex;
    justify-content: space-between;
}

.sorting__h3_style {
    color: #6f6e6e;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
}

.sorting__h3 {
    margin-bottom: 24px;
}

.sorting__labels {
    display: flex;
    justify-content: space-between;
}

.sorting__checkboxes_text {
    color: #6f6e6e;
    font-family: "Open Sans", serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
    margin-left: 9px;
}

.sorting__checkboxes {
    display: flex;
}

.sorting__checkboxes_check {
    width: 65px;
}

.sorting__link {
    color: #6f6e6e;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
}

.sorting__link:hover {
    color: #f16d7f;
}

.filter {
    width: 100%;
    height: 50px;
    background-color: #f3f3f3;
    margin-bottom: 48px;
    margin-top: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
}

.filter-button {
    padding: 9px 12px;
    color: #6f6e6e;
    background-color: #fff;
    /*border-right: 1px solid #ebebeb;*/
    border: none;
    margin-right: 1px;
}

.filter-button:hover {
    color: #f16d7f;
    outline: 1px solid #dfdfdf;
    cursor: pointer;
}

.filter-select {
    color: #6f6e6e;
    padding: 9px 11px;
    border: none;
}

.filter-select__item {
    padding: 9px 11px;
}

.filter-block {
    border: 1px solid #ebebeb;
    margin-left: 9px;
}

.content {
    /*display: flex;*/
    /*flex-wrap: wrap;*/
    /*justify-content: space-between;*/
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.product__add_style {
    line-height: 39px;
    color: #fff;
    font-size: 13px;
    font-weight: 700;
    border: 1px solid #ffffff;
    background-color: #0000;
    transition: 0.2s;
}

.product__add_style:hover {
    box-shadow: 0 0 10px #ffffff;
}

.product__add {
    width: 100%;
    height: 39px;
    display: none;
    justify-content: center;
    align-items: center;
}

.sorting__links-box {
    color: #dfdfdf;
}

.product__like-symbol {
    width: 57px;
    line-height: 38px;
    text-align: center;
    color: #fff;
    border: 1px solid #ffffff;
    transition: 0.3s;
}

.product__like-symbol:hover {
    box-shadow: 0 0 10px #ffffff;
}

.product__add-like {
    width: 123px;
    height: 85px;
    position: absolute;
    left: 70px;
    top: 98px;
    display: none;
    flex-wrap: wrap;
    justify-content: space-between;
    transition-delay: 0.5s;
}

.product:hover .product__add-like {
    display: flex;
}

.product:hover .product__add {
    display: flex;
}

.pagination-button {
    height: 44px;
    display: flex;
    justify-content: space-between;
}

.pagination__pages_style {
    line-height: 44px;
    font-size: 16px;
    font-weight: bold;
    color: #c4c4c4;
    padding-left: 15px;
    padding-right: 15px;
}

.pagination__pages_links {
    border: none;
    background-color: #fff;
    color: #c4c4c4;
}

.pagination__pages_arrows {
    width: 1rem;
    border: none;
    color: #c4c4c4;
    background-color: #fff;
}

/*.pagination__pages_active {*/
/*    color: #ef5b70;*/
/*}*/

.pagination__pages_links:first-child {
    color: #ef5b70;
}

.pagination__pages_links:hover,
.pagination__pages_arrows:hover {
    color: #ef5b70;
    box-shadow: 0 0 5px #fff;
    cursor: pointer;
}

.pagination__pages {
    border: 1px solid #ebebeb;
}

.pagination__pages,
.pagination__pages div {
    width: 231px;
    display: flex;
    justify-content: space-around;
}

.pagination__button_style {
    color: #ef5b70;
    font-size: 16px;
    font-weight: bold;
    line-height: 26px;
    border: 1px solid #ef5b70;
    background-color: #fff;
}

.pagination__button_style:hover {
    color: #fff;
    background-color: #ef5b70;
    cursor: pointer;
}

.pagination__button {
    width: 150px;
    line-height: 44px;
    text-align: center;
}

.feature-back {
    height: 341px;
    background-color: #222224;
}

.feature-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.feature {
    color: #fbfbfb;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feature__img-1 {
    background-image: url(../img/features/truck.png);
    width: 45px;
    height: 32px;
    transition: 0.3s;
}

.feature__img-2 {
    background-image: url(../img/features/discount.png);
    width: 40px;
    height: 40px;
    transition: 0.3s;
}

.feature__img-3 {
    background-image: url(../img/features/croun.png);
    width: 47px;
    height: 35px;
    transition: 0.3s;
}

.feature__h3 {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.5px;
    margin-top: 32px;
    margin-bottom: 17px;
    transition: 0.3s;
}

.feature__p {
    width: 310px;
    font-size: 14px;
    font-weight: 300;
    line-height: 23.95px;
    letter-spacing: 0.35px;
    transition: 0.3s;
}

.feature__h3:hover {
    color: #f16d7f;
}

.feature__p:hover {
    color: #f16d7f;
}

.feature__img-1:hover {
    background-image: url(../img/features/truck-hover.png);
}

.feature__img-2:hover {
    background-image: url(../img/features/discount-hover.png);
}

.feature__img-3:hover {
    background-image: url(../img/features/croun-hover.png);
}

.stars {
    opacity: 0;
    color: #e4af48;
}

.product-card:hover .stars {
    opacity: 1;
}

.table {
    margin-top: 90px;
    margin-bottom: 44px;
    width: 100%;
    color: #656565;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
}

.table__link {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100px;
}

.table__link_item {
    width: 150px;
}

.table__caption {
    color: #222222;
    font-weight: 700;
    letter-spacing: -0.2px;
}

.table__caption .table__cell {
    padding-bottom: 20px;
    border-bottom: 1px solid #eaeaea;
    text-align: center;
}

.table__caption .table__cell_left {
    text-align: left;
}

.table__string {
    padding-top: 22px;
    padding-bottom: 25px;
    border-bottom: 1px solid #eaeaea;
    text-align: center;
}

.table__string_left {
    text-align: left;
}

.table__string_right {
    display: flex;
    justify-content: center;
}

.table__cell_right {
    display: flex;
    justify-content: center;
}

.table__string .table__input {
    width: 54px;
    height: 30px;
    text-align: center;
}

.product-card {
    display: flex;
}

.product-card__name {
    color: #222222;
    font-weight: 400;
}

.product-card__char {
    line-height: 20px;
}

.product-card__char_value {
    font-weight: 300;
}

.product-card__icon {
    margin-right: 21px;
}

.table__buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.form-button {
    text-align: center;
    line-height: 50px;
    width: 235px;
    height: 50px;
    font-size: 14px;
}

.total {
    margin-top: 63px;
    margin-bottom: 79px;
    display: flex;
    justify-content: space-between;
}

.total-item {
    border-color: #000;
    display: flex;
    flex-direction: column;
}

.total-item .form-button {
    width: 118px;
    height: 35px;
    font-size: 11px;
    text-align: center;
    line-height: 35px;
    margin-top: 5px;
}

.total-item__caption {
    margin-bottom: 22px;
    color: #222222;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}

.total-item__select {
    padding-left: 18px;
    padding-right: 18px;
    width: 336px;
    height: 45px;
    margin-bottom: 20px;
}

.total-item__select:focus {
    color: #000;
}

.total-item__input {
    width: 298px;
    height: 45px;
    padding-left: 17px;
    padding-right: 17px;
    margin-bottom: 20px;
}

.total-item__input:focus {
    color: #000;
}

.total-item__text {
    color: #000000;
    font-size: 14px;
    font-weight: 300;
    padding-top: 6px;
    padding-bottom: 24px;
}

.total-block {
    width: 278px;
    height: 134px;
    background-color: #f5f3f3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 40px 41px;
}

.total-block__subcaption {
    color: #4a4a4a;
    font-size: 11px;
    font-weight: 400;
    text-transform: uppercase;
    width: 100px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 14px;
}

.total-block__caption {
    color: #222222;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    width: 165px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 22px;
}

.total-block__text {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.total-block .button {
    color: #ffffff;
    font-size: 16px;
    text-transform: uppercase;
    padding: 19px 42px;
}

.button:active {
    background-color: #fff;
    color: #f16d7f;
}

.overline {
    height: 17px;
    width: 275px;
    border-top: 1px solid #e2e2e2;
}

.button-delete {
    color: #c0c0c0;
    font-family: "Font Awesome", serif;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    display: flex;
    align-items: center;
}

.button-delete:hover {
    color: #f16d7f;
}

.cart__count {
    background-color: #f16d7f;
    color: #fff;
    display: inline-block;
    height: 27px;
    width: 28px;
    text-align: center;
    line-height: 27px;
    border-radius: 13.5px;
    position: absolute;
    margin: -13px 0 0 20px;
}

.cart__count:hover {
    cursor: pointer;
}

.sorting__select {
    width: 262px;
}

.sorting__select .current-price {
    margin-top: -17px;
    position: absolute;
}

.sorting__select input[type="range"] {
    -webkit-appearance: none;
    -moz-apperance: none;
    border-radius: 6px;
    height: 6px;
    width: 100%;
    background-color: #adadad;
    box-shadow: inset 1px 1px 1px #000;
    margin-bottom: 15px;
}

.sorting__select input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    background-color: #E9E9E9;
    border: 1px solid #CECECE;
    height: 15px;
    width: 15px;
    border-radius: 15px;
    box-shadow: 0 0 1px 1px black;
    background-image: linear-gradient(to bottom, #fff, #c5c5c5);
}
